@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @foreach (Category category in Model.Categories)
    {
        <div>[@(category.CategoryId)] @category.CategoryName</div>
    }
</div>